@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-pink: #d12f7a;
  --color-black: #000;
  --color-blue: #073fcc;
  --color-purple: #5f01ac;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-black);
  color: var(--color-white);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#person {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: var(--color-black);
}

.person-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
}

.person-content div h1 {
  padding: 0px 4px;
  font-size: 4.5rem;
  font-weight: 300;
  color: transparent;
  animation: written_text 5s ease forwards;
}

.person-content div h2 {
  padding: 0px 4px;
  font-size: 2.5rem;
  font-weight: 300;
  color: transparent;
  background: var(--color-black);
  animation: written_text 5s ease forwards;
}

.person-content div h1:nth-child(1) {
  animation-delay: 1s;
}

.person-content div h1:nth-child(2) {
  animation-delay: 2s;
}

.person-content div h2:nth-child(3) {
  animation-delay: 3s;
}

.techs {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px
}
.techs li {
  list-style: none;
}

.techs-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.techs-icons:hover {
  transform: scale(1.1);
}

.person-image {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.person-image img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.person-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.list-icons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-icons li {
  list-style: none;
}

.icons {
  width: 35px;
  height: 35px;
}

.icons:hover {
  transform: scale(1.1);
}

/* Final da página Home (index) */

/* Início da página About */

.about {
  height: 100vh;
  width: 100%;
  background: var(--color-black);
  display: flex;
  color: var(--color-white);
}

.background-about {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: 
    linear-gradient(.25turn, transparent 30%, var(--color-black)),
    linear-gradient(.5turn, transparent 30%, var(--color-black)),
    linear-gradient(1turn, transparent 65%, var(--color-black))
  ;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.box-about {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.section-subtitle h2 p {
  display: inline-block;
  font-size: 3rem;
}

.section-subtitle h2 p:nth-child(2) span {
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--color-black);
  background: var(--color-white);
}

.box-about h3 {
  margin: 3rem;
  font-size: 2rem;
}

.box-about h3 p {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--color-black);
  background: var(--color-pink);
  width: fit-content;
}

.box-about h4 {
  margin: 1rem 3rem;
  font-size: 1.5rem;
}

.box-about h4 span {
  border-bottom: var(--color-purple) 2px solid;
}

.button-cta {
  display: flex;
  max-width: 190px;
}

.button-cta button {
  background: var(--color-white);
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  opacity: 0.8;
  width: 100%;
  max-width: 172px;
  margin: 3rem;
  font-family: poppins, sans-serif;
  letter-spacing: .15rem;
}

.button-cta button:hover {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
}

/* Final da página About */

/* Início da página Projects */

#projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 300px;
}

.projects-title h2 {
  margin: 4rem;
  padding: 1rem;
  font-size: 2rem;
}

.wrapper-projects {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  height: 500px;
}

.card-project {
  width: 320px;
  height: 450px;
  padding: 30px 20px 20px;
  margin: 0px 10px;
  position: relative;
  background: var(--color-white);
  color: var(--color-black);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
}

.card-project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background: var(--color-black);
  opacity: 0.8;
  border-radius: 6px 6px 0px 0px;
}

.content-project {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.image-project {
  width: 250px;
  height: 240px;
  border-radius: 6px;
  border: 4px solid var(--color-purple);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.image-project img {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .3s ease-out;
}

.image-project img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.content-project span {
  color: var(--color-black);
  font-weight: bold;
  font-size: 1.7rem;
  margin: 1.75rem auto .5rem auto;
}

.content-project p {
  color: #3d3d45;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0rem .75rem;
}

.cta-project {
  width: 200px;
  margin: auto auto 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-project a {
  text-decoration: none;
  color: var(--color-white);
  background: var(--color-purple);
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 15px;
  padding: 5px 16px;
  opacity: 0.8;
  font-family: poppins, sans-serif;
}

.cta-project a:hover {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

/* Final da página Projects */

/* Início da página Contact */

#contacts {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-icon-content h2 {
  margin: 3rem 3rem 3rem 0rem;
  padding: 1rem 1rem 1rem 0rem;
  font-size: 3rem;
}

.contact-icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-icon-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0rem 3rem;
  padding: 1rem;
}

.contact-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  background: var(--color-white);
  padding: 1rem;
  border-radius: 50%;
}

.contact-icon i {
  font-size: 2rem;
  color: var(--color-black);
}

.contact-info h3 {
  font-size: 1.5rem;
}

.contact-info p {
  font-size: 1.rem;
}

@keyframes written_text {
  100% {
    color: var(--color-white);
  }
}